body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: beige;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background:#1e3a8a;
    color: white;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* SPINNER */
.spinner {
    text-align: center;
    margin: 15px;
    display: none;
}

/* ERROR */
#error-message {
    text-align: center;
    color: #ea4335;
    font-weight: bold;
}

/* GRID */
.countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 20px;
}

/* CARD */
.country-card {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    text-align: center;
    transition: transform 0.2s ease;
}

.country-card:hover {
    transform: translateY(-5px);
}

.country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.country-info {
    padding: 12px;
}

.country-info button {
    margin-top: 8px;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.details-btn {
    background: #333;
    color: white;
}

.details-btn:hover {
    background: #555;
}

.map-btn {
    background:#1e3a8a;
    color: white;
}

.map-btn:hover {
    background: #005fcc;
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.modal-flag {
    width: 120px;
    margin-bottom: 10px;
}

.modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #555;
}

/* NO RESULT */
.no-result {
    text-align: center;
    padding: 40px;
    color: #555;
}